.navbarLogo {


  color: transparent;
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(0, 0, 0, 0.5) 21%, rgba(0, 0, 0, 0.5) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(0, 0, 0, 0.5) 21%, rgba(0, 0, 0, 0.5) 34%, transparent 35%, transparent) 0 -50px;
  background-color: rgba(0, 0, 0, 0);
  background-position-y: 0%, -50px;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-clip: border-box, border-box;
  background-color: #fff;
  background-size: 75px 100px;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: repeat-x;
  background-position-y: -2em;
  -webkit-transition: background-position-y 0.6s ease;
  transition: background-position-y 0.6s ease;
  color: transparent;
  -webkit-animation: curvyAnimation 3s linear infinite;
  animation: curvyAnimation 3s linear infinite;
  animation-play-state: running;
  
  -webkit-animation-play-state: running;
  animation-play-state: running;
  background-position-y: 0%, -50px;
}

.navbarLogo:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes curvyAnimation {
  100% {
    background-position-x: 150%;
  }
}